/* html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
} */

/* primary text color grey #757575 */
/* secondary text color black #212121 */
/* white text color #fff */
/* accent color #2196F3 */
/* primary bg color  #fff */
/* secondary bg color #F5F4FA */
/* footer bg color #2F303A */

:root {
    --primary-txt-col: #757575;
    --secondary-txt-col: #212121;
    --white-txt-col: #fff;
    --accent-col: #2196f3;
    --primary-bg-col: #fff;
    --secondary-bg-col: #f5f4fa;
    --footer-bg-col: #2f303a;
    --gap-between-coworkers: 30px;
}

/* index.html */
body {
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-txt-col);
    background-color: var(--primary-bg-col);
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

/* logotype style */
.logo {
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    color: var(--secondary-txt-col);
    text-decoration: none;
}

.logoblue {
    color: var(--accent-col);
}

/* site nav and header contacts*/

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

    outline: solid 2px tomato;
}

.page-header{
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.page-header li {
    list-style: none;
}

.site-nav, .header-contacts{
    padding: 0;
    margin: 0;   
}

.site-nav a,
.header-contacts a {
    color: var(--secondary-txt-col);
    line-height: 1,14;
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus,
.header-contacts a:hover,
.header-contacts a:focus {
    color: var(--accent-col);
}

.site-nav .link-current {
    color: var(--accent-col)
}


/* hero+button */
/* Залит темный фон, чтобы были видны буквы */

.hero {
    background-color: #2F303A;
    text-align: center;
    margin: 0 auto;
    padding-top: 210px;
    padding-bottom: 190px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--white-txt-col);
    margin: 0 auto 30px auto;
    
}

.button-hero:hover,
.button-hero:focus {
    background-color: var(--accent-col);
    color: var(--white-txt-col);

}

.button-hero {

    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;

    border-style: none;
    border-color: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



/* преимущества */
/* ДЛЯ ВСЕХ СЕКЦИЙ МОЖНО ЗАДАТЬ СРЕДНЕЕ ЗНАЧЕНИЕ Паддинг? */
.section{
    padding: 94px 15px;
    margin: 0;
}

.features-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.features-list .title {
    font-weight: 700;
    line-height: 1.17;
    color: var(--secondary-txt-col);
    margin: 0 0 10px 0;
}

.features-list p{
    margin: 0;
    padding: 0;
}


/* Чем мы занимаемся */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--secondary-txt-col);
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.whatwedo-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Наша команда */

.coworkers-list .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: var(--secondary-txt-col);
    margin: 0;
    padding: 30px 0 10px 0;
}

.coworkers-list {
    list-style: none;
    line-height: 1.86;
    margin: 0;
    padding: 0 0 30px 0;

    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--gap-between-coworkers));
    margin-top: calc(-1 * var(--gap-between-coworkers));
}

.coworkers-list > .coworkers{
    outline: 1px solid teal;
    flex-basis: calc(100% / 4 - var(--gap-between-coworkers));
    margin-left: var(--gap-between-coworkers);
    margin-top: var(--gap-between-coworkers);
}

/* футер */
/* Залит темный фон, чтобы были видны буквы */

.logowhite {
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    color: var(--white-txt-col);
    text-decoration: none;
}

.section-footer {
    background-color: #2f303a;
    line-height: 1.7;
}

.address {
    list-style: none;
    margin: 0;
    padding: 0;
}

.address a{
    text-decoration: none;
    color: var(--white-txt-col);
}

.address a:hover,
.address a:focus {
    color: var(--accent-col);
}

/* portfolio html */

.works{
    padding-bottom: 94px;
}

.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--accent-col);
    color: var(--white-txt-col);
}

.button-portfolio {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    padding: 6px 22px;

    border-style: none;
    border-color: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.button-list {
    margin: 0;
    padding: 0 0 50px 0;
    list-style: none;
}

/* примеры работ */
.example-list{
    margin: 0;
    padding: 0;
    list-style: none;
       
}
.example-list-link{
    margin-bottom: 20px;
}

.ex {
    margin: 0 0 30px 0;
}


.example-list a {
    display: inline-block;
    text-decoration: none;
    margin: 0;
}

.example-list .title {
    margin-block-start: 0;
    margin-block-end: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--secondary-txt-col);
    margin: 0;
    padding: 0;
    /* margin-bottom: 4px; */
}

.example-list p {
    font-size: 16px;
    line-height: 1.86;
    color: var(--primary-txt-col);
    margin: 0;
    padding: 0:
}
